<div class="page-header">
  <h1><%= title(t('.title')) %></h1>
</div>

<div class="col-md-12">
  <%= render('form', meeting: @meeting) %>
  <hr>
  <div class="meeting-document-table">
    <%= render('/meeting_documents/table',
               meeting_documents: @meeting.meeting_documents,
               meeting: @meeting) %>
    <hr />
  </div>
  <%= link_to(t('.all_meetings'), meetings_path,
                                   class: 'btn btn-default') %>
</div>
