<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <p>Hej <%= @user.email %>!</p>

    <p>
      Du har blivit registrerad på TLTH.se, följ denna länken för att välja lösenord.
    </p>

    <p>
      <%= link_to 'Välj lösenord', edit_password_url(@user, reset_password_token: @token) %>
    </p>

  </body>
</html>
