.footer {
  padding: 20px, 0, 40px;

  ul {
    display: table;
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    width: 100%;

    li {
      display: table-cell;
    }
  }

  p {
    font-size: 14px;
    text-align: center;
  }
}
