.photo {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .13);
  margin-bottom: 20px;

  &.photo-small {
    display: inline-block;
    margin-bottom: 7px;
    width: 138px;

    .overlay a {
      margin-right: 0px !important;
    }
  }

  .head {
    padding: 10px 10px;
    background: #FFF;
  }

  .img {
    position: relative;

    &:hover,
    &.img-selected {
      .overlay  { opacity: .8; }
    }
    .img-title {
      height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 138px;
    }
  }

  img {
    width: 100%;
  }

  .overlay {
    background: $brand-primary;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 300ms ease;
    width: 100%;
  }

  .overlay .links {
    visibility: hidden;
  }

  .img-selected .overlay .links {
    margin-top: 33%;
    text-align: center;
    top: 50%;
    transition: margin-top 100ms ease-in-out;
    visibility: visible;

    a {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      cursor: default;
      display: inline-block;
      height: 50px;
      margin-right: 10px;
      width: 50px;
    }

    i {
      color: #FFF;
      font-size: 20px;
      line-height: 2.4;
    }
  }
}

.img-library {
  margin: 3px;
  margin-bottom: 6px;
  position: relative;

  .img-thumbnail {
    height: 160px;
    margin: 5px;
  }

  img {
    height: 160px;
  }

  .img-title {
    background: white;
    bottom: 0px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    width: 160px;
  }
}

figcaption {
  color: $light-gray;
  font-size: 15px;
  font-style: italic;
}

#image-select-body {
  max-height: 700px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#image-select-tab input[type="submit"] {
  width: 78px;
}

#image-attributes {
  margin-bottom: 5px;

  .form-control {
    width: 250px;
  }
}

.img-search {
  .form-control {
    min-width: 150px;
  }
}

.img-select-active {
  background-color: $brand-primary;
}
