.photo {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
  margin-bottom: 20px;

  &.photo-small {
    margin-bottom: 7px;
    display: inline-block;
    width: 138px;

    .overlay a {
      margin-right: 0px !important;
    }
  }

  .head {
    padding: 10px 10px;
    background: #FFF;
  }

  .img {
    position: relative;

    &:hover, &.img-selected {
      .overlay  { opacity: 0.8; }
    }
    .img-title {
      overflow: hidden;
      text-overflow: ellipsis;
      height: 22px;
      width: 138px;
    }
  }

  img {
    width: 100%;
  }

  .overlay {
    top: 0;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: $brand-primary;
    transition: opacity 300ms ease;
  }

  .overlay .links {
    visibility: hidden;
  }

  .img-selected .overlay .links {
    visibility: visible;
    margin-top: 33%;
    top: 50%;
    text-align: center;
    transition: margin-top 100ms ease-in-out;

    a {
      cursor: default;
      display: inline-block;
      height: 50px;
      width: 50px;
      margin-right: 10px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
    }

    i {
      font-size: 20px;
      color: #FFF;
      line-height: 2.4;
    }
  }
}

.img-library {
  margin: 3px;
  margin-bottom: 6px;

  .img-thumbnail {
    height: 160px;
    margin: 5px;
  }

  img {
    height: 160px;
  }

  position: relative;

  .img-title {
    position: absolute;
    width: 160px;
    bottom: 0px;
    text-align: center;
    background: white;

    overflow: hidden;
    text-overflow: ellipsis;
  }
}

figcaption {
  font-size: 15px;
  font-style: italic;
  color: $light-gray;
}

/* -- IMAGE SELECT MODAL -- */
#image-select-body {
  max-height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;

}

#image-select-tab input[type="submit"] {
  width: 78px;
}

#image-attributes {
  margin-bottom: 5px;
  .form-control {
    width: 250px;
  }
}

.img-select-active {
  background-color: $brand-primary;
}

