.navbar {
  margin-bottom: 0;

  .navbar-nav {
    .dropdown-menu {
      min-width: 100%;
      text-align: left;
    }

    @media (min-width: $screen-xs-max) {
      display: table;
      text-align: center;
      width: 100%;

      li {
        display: table-cell;
        float: none;
      }

      .dropdown-menu li {
        display: block;
      }
    }
  }
}

#navbar-container {
  @media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;

    li {

      a {
        padding: 10px;
      }
    }
  }
}

// Show navbar on hover
@media only screen and (min-width: $screen-sm-min) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

