.post-preview-image {
  height: 160px;
  width: 160px;
}

.preview-image {
  margin-bottom: 40px;
}

.post-image {
  display: inherit;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-height: 400px;
  max-width: 100%;
}

.post {
  @media (min-width: $screen-lg) {
    padding-right: 35px;
  }

  min-height: 230px;

  h2 {
    margin-bottom: 5px;
  }

  img {
    height: 180px;
    margin-top: 22px;
    width: 180px;
  }

  .published-date {
    color: $light-gray;
    font-size: 13px;
  }

  .post-tools {
    &.a {
      color: $light-gray;
      font-style: italic;
    }
  }

}

.published-date {
  color: $light-gray;
  font-size: 13px;
}

.post-content {
  &.a {
    font-weight: bold;
  }
}

.post-links {
  color: $light-gray;
  display: inherit;
  text-align: center;

  a {
    color: $brand-primary;
  }
}

.tags {
  color: $white;
  font-family: 'Oswald', sans-serif;
  font-size: small;

  span {
    background-color: $light-gray;
    padding-left: 3px;
    padding-right: 3px;
  }
}

.responsive-video {
  height: 0;
  margin-bottom: 2em;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
