.board {
  &.member-table {
    td {
      padding-bottom: 10px;
      padding-right: 20px;
      width: 200px;
    }
  }
}

.meeting-document-table {
  margin-left: 20px;

  td {
    padding-right: 15px;
  }

  .title {
    padding-right: 20px;
  }
}

.representative-council {
  .img-responsive {
    margin: auto;
    max-height: 600px;
  }
}
