
.board {
  &.member-table {
    td {
      padding-bottom: 10px;
      padding-right: 20px;
      width: 200px;
    }
  }
}

.meeting-document-table {
  margin-left: 20px;
  .title {
    padding-right: 20px;
  }
  td {
    padding-right: 15px;
  }
}

.wrap2:nth-child(2n+1){
	clear:left;
}


.form-open .closed{
	display:none !important;
}

.form-closed .open{
	display:none !important;
}

.form-title{
	margin: 10px 0px 0px 0px;
}

.center-button {
	text-align:center;
	margin-top:130px;
	transform:translateY(-50%);
	color:#999;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.top-left-button {
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
}

.sabbatical-view {
	text-align: center;
	margin-bottom: 40px;
}

.sabbatical-add {
	height:336px;
	text-align:center;
	font-size:4em;
	cursor: pointer;
}

.sabbatical-add:hover {
	font-size:6em;
}
