<li>
  <div class="event-thumb pull-left">
    <div class="day"><%= event.day %></div>
    <div class="month"><%= event.short_month %></div>
  </div>
  <p class="event-title">
    <%= link_to event.title, event %>
  </p>
  <p>
    <%= truncate(event.description, length: 35) %>
  </p>
</li>
