<li>
  <div class="event-thumb pull-left">
    <div class="day"><%= event.start_time.day %></div>
    <div class="month"><%= t(:abbr_month_names, scope: :date)[event.start_time.month] %></div>
  </div>
  <p class="event-title">
    <%= link_to event.title, event %>
  </p>
  <p>
    <%= truncate(event.description, length: 35) %>
  </p>
</li>
