<%= render 'form' %>

<% @images = Image.all %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <% @images.each do |image| %>
            <% if image.image_stored? %>
              <div class="col-sm-3">
                <%= image_tag image.image.thumb('300x300#').url, class: "img-choose img-responsive img-thumbnail", data: { source: image.image.url } %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button id="modal-close" type="button" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>
