<div class="white-container col-xs-12">

<h1>Paragrafer</h1>

<p>Markdown:</p>

<pre><code>Här är en fin rad.

Sedan följer denna raden, efter en tom rad, så den kommer bli en ny paragraf.

Sen påbörjar denna raden också en ny paragraf, men..
Den här raden är bara en rad efter, så den kommer bli en ny rad i samma paragraf.
</code></pre>

<p>Här är en fin rad.</p>

<p>Sedan följer denna raden, efter en tom rad, så den kommer bli en ny paragraf.</p>

<p>Sen påbörjar denna raden också en ny paragraf, men..<br>
Den här raden är bara en rad efter, så den kommer bli en ny rad i samma paragraf.</p>

<h1>Indentering</h1>

Görs genom att lägga tre streck efter varandra.

<pre><code>
Vanlig text

---Indenterad text
</code></pre>

Vanlig text
<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Indenterad text

<h1>Rubriker</h1>

<pre lang="no-highlight"><code># H1
## H2
### H3
#### H4
##### H5
###### H6

</code></pre>

<h1>H1</h1>

<h2>H2</h2>

<h3>H3</h3>

<h4>H4</h4>

<h5>H5</h5>

<h6>H6</h6>

<h1>Emphasis</h1>

<pre lang="no-highlight"><code>Kursivt, med *stjärnor*

Fetstil, med **stjärnor**

Kombinerat, **_stjärnor and streck_**.

</code></pre>

<p>Kursivt, med <em>stjärnor</em>

<p>Fetstil, med <strong>stjärnor</strong>

<p>Kombinerat, <strong><em>stjärnor and streck</em></strong>.</p>

<h1>Länkar</h1>

<pre lang="no-highlight"><code>
[Jag är en länk](https://www.google.com)

[Jag är en länk med en titel](https://www.google.com "Google's Homepage")

</code></pre>

<p><a href="https://www.google.com">Jag är en länk</a></p>

<p><a href="https://www.google.com" title="Google's Homepage">Jag är en länk med en titel</a></p>

<h1>Bilder</h1>
<p>Läggs enklats till genom verktyget, annars</p>

<pre lang="no-highlight"><code>

Här är en bild:
Alt texten beskriver vad bilden är, och kommer läggas till som bildtext.

![Beskrivande text](http://studentlund.se/wordpress/wp-content/uploads/slund-tlth.jpg)

</code></pre>


<p>Här är en bild:<br>
Alt texten beskriver vad bilden är, och kommer läggas till som bildtext.</p>

<p>
  <figure>
    <img src="http://studentlund.se/wordpress/wp-content/uploads/slund-tlth.jpg" alt="beskrivande text" title="Logo Title Text 1">
    <figcaption>Beskrivande text</figcaption>
  </figure>
</p>


<p><a name="user-content-videos"></a></p>

<h2>
<a name="user-content-youtube-videos" class="anchor" href="#youtube-videos"><span class="octicon octicon-link"></span></a>Youtube videos</h2>

<p>Släng in en länk till dem så bäddas de in:</p>

<pre lang="no-highlight"><code>
  https://www.youtube.com/watch?v=dcImP671Ovo
</code></pre>

<div class="video youtube">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe width="420" height="315" src="//www.youtube.com/embed/dcImP671Ovo" frameborder="0" allowfullscreen=""></iframe>
  </div>
</div>

<h1>Citat</h1>

<pre lang="no-highlight"><code>&gt; Citat kan väl vara kul att använda.
&gt; Denna raden tillhör samma citat.

Danspaus.

&gt; Detta är en mycket lång rad som fortfarande kommer bli ett fint citat när den wrappas. Vi fortsätter skriva lite till så den säkert är lång nog att börja wrappa för alla. Du kan dessutom *skriva* mer **Markdown** i citatet.
</code></pre>

<blockquote>
<p>Citat kan väl vara kul att använda.
Denna raden tillhör samma citat.</p>
</blockquote>

<p>Danspaus.</p>

<blockquote>
<p>Detta är en mycket lång rad som fortfarande kommer bli ett fint citat när den wrappas. Vi fortsätter skriva lite till så den säkert är lång nog att börja wrappa för alla. Du kan dessutom <em>skriva</em> mer <strong>Markdown</strong> i citatet. </p>
</blockquote>

</div>

<h1>Formulär</h1>

Formulär från podio och google kan bäddas in med denna syntax

<pre lang="no-highlight"><code>
  f{https://podio.com/webforms/0000000/000000}

  f{https://docs.google.com/forms/d/Unik-url}
</code></pre>
