<div class="page-header">
  <h1><%= @post.title %></h1>
</div>

<%= @post.content_html %>

<% if can? :edit, @post %>
  <% content_for :sidebar do %>
    <div class="row">
      <h3><%= t(:tools) %></h3>
        <ul>
          <li><%= link_to t('.edit_post'), edit_post_path(@post) %></li>
        </ul>
    </div>
  <% end %>
<% end %>
