@import "variables";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "pagedown_bootstrap";
@import "font-awesome";
@import "guilds";
@import "ekko-lightbox";
@import "select2";
@import "select2-bootstrap";
@import "theme";

p {
  color: #555555;
}

#page-content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.wmd-input {
  height: 300px !important;
}

.video {
  text-align: center;
}

.no-padding {
  padding: 0;
}

.panel-body-sm {
  padding: 7px;
}

.img-library {
  padding: 15px;
}

#logo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 35%;
  max-width: 780px;
  z-index: 1;
}

#panorama {
  margin-top: -5px;
  margin-bottom: -10px;
  width: 100%;
}

.panorama-wrapper {
  margin-top: 50px;
  overflow: hidden;
  position: relative;
}


.footer p {
  font-size: 12px;
  text-align: center;
}

.page-header {
  border-bottom: none;
}

.content {
  border-right: 2px solid #eeeeee
}

.post-tools {
  font-style: italic;
  a {
    color: #aaaaaa !important;
  }
}

.navbar .navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav li {
  display: inline-block;
  float: none;
}

.navbar-nav .dropdown-menu li {
  display: block;
}

.sidebar-links a {
  color: gray;
}

.twitter-heading {
  margin-bottom: 2px;
  font-size: 18px;
}
