@import "variables";
@import "bootstrap";
@import "bootstrap-datepicker3";
@import "pagedown_bootstrap";
@import "font-awesome";
@import "guilds";
@import "ekko-lightbox";
@import "select2";
@import "select2-bootstrap";
@import "theme";


/*  -- NAVBAR --  */
@media (min-width: $screen-xs-max) {
  .navbar .navbar-nav {
    width: 100%;
    text-align: center;
    display: table;

    li {
      float: none;
      display: table-cell;
    }
    .dropdown-menu li {
      display: block;
    }
  }
}

/*  -- PANORAMA --  */
.panorama-wrapper {
  margin-top: 50px;
  overflow: hidden;
  position: relative;

  #logo {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 35%;
    max-width: 780px;
    z-index: 1;
  }

  #panorama {
    margin-top: -5px;
    margin-bottom: -10px;
    width: 100%;
  }
}

/*  -- PAGE CONTENT --  */
#content {
  margin-top: 50px;
  margin-bottom: 50px;

  padding-left: 4%;
  padding-right: 4%;

  .lead {
    font-size: 18px;
  }

  .news-feed {
    .post {
      .post-tools {
        font-style: italic;
        a {
          color: $light-gray !important;
        }
      }
    }
  }

  .img-library {
    padding: 15px;
  }

  .wmd-input {
    height: 300px !important;
  }
}

/*  -- SIDEBAR --  */
.sidebar {
  border-left: 2px solid #eee;

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  #twitter-feed {
    h5 {
      margin-bottom: 2px;
      font-size: 18px;
    }

    .twitter-name {
      font-size: 14px;
      color: $gray;
    }
  }

  .calendar-feed {
    .event-thumb {
      margin-right: 15px;
      margin-top: 2px;
      height: 50px;
      width: 50px;

      border: 1px solid $brand-primary;
      border-radius: 3px;

      text-align: center;

      .month {
        font-size: 11px;
        color: $brand-primary;
      }

      .day {
        font-size: 24px;
        margin-bottom: -2px;
      }
    }

    h3 {
      margin-bottom: 2px;
    }

    p {
      font-size: 13px;
    }

    li {
      height: 35px;
    }
  }

  .sidebar-links a {
    color: gray;
  }
}

/*  -- FOOTER --  */
.footer {
  ul {
    width: 100%;
    padding-left: 0;
    display: table;
    list-style-type: none;
    text-align:center;

    li {
      display: table-cell;
    }
  }

  p {
    font-size: 14px;
    text-align: center;
  }
}

/*  -- Stuff --  */
.video {
  text-align: center;
}

.no-padding {
  padding: 0;
}

.panel-body-sm {
  padding: 7px;
}

// Page form
.nav-tabs {
  margin-bottom: 20px;
}


.event-week {
  list-style-type: none;
}


.pagination {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.img-select-active {
  background-color: $brand-primary;
}

.post-links {
  display: inherit;
  text-align: center;
  color: $light-gray;
  a {
    color: $brand-primary;
  }
}
