.banner-wrapper {
  // margin-top: 50px;
  overflow: hidden;
  position: relative;
  max-height: 380px;

  #logo {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 35%;
    max-width: 500px;
    z-index: 1;
  }

  #banner {
    width: 100%;
    .carousel-inner img {
      width: 100%;
    }

    .carousel-caption {
      bottom: initial;
      top: 280px;
    }
    .carousel-indicators {
      bottom: initial;
      top: 350px;
    }
  }

  a {
    color: white;
  }
}

/*  -- FOOTER --  */
.footer {
  padding-top: 20px;
  padding-bottom: 40px;
  ul {
    width: 100%;
    padding-left: 0;
    display: table;
    list-style-type: none;
    text-align:center;

    li {
      display: table-cell;
    }
  }

  p {
    font-size: 14px;
    text-align: center;
  }
}

/*  -- GUILDS --  */
@font-face {
  font-family: guilds;
  src: url(asset_path('LTH-SEKTIONSSYMBOLER_2011.TTF'));
}

.guilds {
  padding-top: 30px;
  border-top: 2px solid #eee;

  font-family: guilds;
  font-size: 48px;
  text-align: center;

  a {
    color: #555555;
    margin-left: 10px;

    &:hover {
      text-decoration: inherit;
    }
  }

  #dokt {
    height: 32px;

    /* Fix Safari disagreeing about the middle */
    vertical-align: baseline;
  }
}
