/* Events */
.event-weeknbr {
  font-size: 12px;
  color: gray;
  text-transform: uppercase;
}

.event-week {
  list-style-type: none;
  padding-left: 0px;
  padding-bottom: 6px;
  border-bottom: 1px solid $lighter-gray;

  li {
    &.disabled {
      color: $gray;
      a {
        color: $lighter-gray;
      }
    }
  }
}

.event-weekday {
  &.disabled {
    color: $gray;
  }
}

.light-text {
  color: $gray;
}

.event-start-time {
  font-weight: 700;
}
