@font-face {
  font-family: guilds;
  src: url(asset_path('LTH-SEKTIONSSYMBOLER_2011.TTF'));
}

.guilds {
  font-family: guilds;
  font-size: 48px;
  text-align: center;

  a {
    color: #555555;
    margin-left: 10px;

    &:hover {
      text-decoration: inherit;
    }
  }

  #dokt {
    height: 32px;
  }
}
