@font-face {
  font-family: guilds;
  src: url(asset_path('guilds.ttf'));
}

.guilds {
  font-family: guilds;
  font-size: 48px;
  text-align: center;

  a {
    color: #555555;
    margin-left: 10px;

    &:hover {
      text-decoration: inherit;
    }
  }
}
