// Page form
.nav-tabs {
  margin-bottom: 20px;
}

// Used in Page index
.panel-body-sm {
  padding: 7px;
}

.contact {
  margin-bottom: 20px;
  padding-bottom: 15px;

  img {
    display: inherit;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-name {
    font-size: 20px;
  }
  .contact-title {
    font-size: 13px;
  }
  .contact-phone {
    font-size: 13px;
  }
}

.page-header {
  margin-top: 0;
  border-bottom: none;
  h1 {
    margin-top: 0;
  }
}

.contact-form-tools {
  font-size: 12px;
}
