.note-editor.note-frame {
  border:none;
}


.note-editor {
  border: none;
  .note-editing-area {
    outline: 1px solid #cccccc;
    transition: border-color ease-in-out 0.15s;

    &:focus {
      border-color: #66afe9;
    }
  }
  .note-toolbar {
    background-color: #FFF !important;
    border-bottom: none !important;
    padding-left: 0;
  }
  .note-resizebar {
    border-top: none !important;
  }
}

.note-air-editor {
  display: inline-block;
  outline: 1px solid #cccccc;
  height: 100%;
  width: 100%;
}

.modal-body .form-group {
  margin-left: 0px;
  margin-right: 0px;
}
