// Colors
$brand-primary: #004688;
$dark-gray: #555;
$gray: #888;
$light-gray: #aaa;
$lighter-gray: #d8d8d8;
$light-blue: #017AB3;

// Typography
$font-size-base: 16px;
$font-size-h1: floor($font-size-base * 3.0);
$font-family-sans-serif: "Open Sans", sans-serif;
$headings-color: $brand-primary;
$text-color: $dark-gray;

// font-family: OpenSans;
// font-size: 48px;
// line-height: 64px;

$navbar-default-bg: #ffffff;
$navbar-default-link-active-bg: #F2F2F2;

$grid-gutter-width: 52px;

.nav-tabs {
  margin-bottom: 20px !important;
}
