// Colors
$brand-primary: #004688;

// Typography
$font-size-base: 16px;
$font-size-h1: floor($font-size-base * 3.0);
$font-family-sans-serif: "Open Sans", sans-serif;
$headings-color: $brand-primary;

// font-family: OpenSans;
// font-size: 48px;
// line-height: 64px;

.navbar { border: none !important;}
$navbar-default-bg: #ffffff;
