<div class="guilds">
  <a href="http://www.fsek.tlth.se/">f</a>
  <a href="http://www.esek.tlth.se/">e</a>
  <a href="http://www.msek.tlth.se">m</a>
  <a href="http://www.vsek.tlth.se">v</a>
  <a href="http://www.asek.tlth.se">a</a>
  <a href="http://www.ksek.tlth.se">k</a>
  <a href="http://www.dsek.lth.se">d</a>
  <!-- <a href="http://www.tlth.se/~dokt/">?</a> -->
  <a href="http://www.ingsek.tlth.se/">n</a>
  <a href="http://www.wsek.tlth.se">w</a>
  <a href="http://www.isek.tlth.se">i</a>
</div>
