<div class="row">
  <!-- Nav tabs -->
  <div class="center-pills">
    <ul class="nav nav-pills" role="tablist">
      <li class="active"><a href="#sv" role="tab" data-toggle="tab">
        <%= t('locales.sv') %>
        <% unless resource.locale_content? :sv %>
          <span class="glyphicon glyphicon-warning-sign"></span>
        <% end %>
      </a></li>
      <li><a href="#en" role="tab" data-toggle="tab">
        <%= t('locales.en') %>
        <% unless resource.locale_content? :en %>
          <span class="glyphicon glyphicon-warning-sign"></span>
        <% end %>
      </a></li>
    </ul>
  </div>

  <!-- Tab Panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="sv">
      <%= f.text_area :content_sv, class: 'summernote_editor', hide_label: true, control_col: 'col-sm-12' %>
    </div>
    <div class="tab-pane" id="en">
      <%= f.text_area :content_en, class: 'summernote_editor', hide_label: true, control_col: 'col-sm-12' %>
    </div>
  </div>
</div>
