<% cache tweet.url do %>
  <li>
    <h5>
      <%= link_to tweet.user.name, tweet.user.url.to_param %>
      <%= link_to "@#{tweet.user.screen_name}", tweet.user.url.to_param, class: "twitter-name" %>
    </h5>
    <p>
      <%= format_tweet(tweet.text) %>
    </p>
  </li>
<% end %>
