<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <p>Detta är ett mail från TLTHs kontaktformulärssystem</p>
    <p>Du har fått ett mail från <%= @sender_email %>, från sidan  <%= @title %></p>
    <% @answers.each do |a| %>
      <p><strong><%= @questions.find(a.first).content %></strong></p>
      <p> <%= a.second %></p>
    <% end %>
  </body>
</html>
