<% if @images.blank? %>
  <h3><%= t('.no_images') %></h3>
  <%= t('.no_images_lead') %>
<% end %>

<div class="row gallery-parent">
  <ul class="unstyled-list">
    <% @images.each do |image| %>
      <% if image.image_stored? %>
        <li class="img-library">
          <%= image_link image %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<%= paginate @images, remote: true %>
