<% if @images.blank? %>
  <h3><%= t('.no_images') %></h3>
  <%= t('.no_images_lead') %>
<% end %>

<div class="row gallery-parent">
  <% @images.each do |image| %>
    <% if image.image_stored? %>
      <div class="col-sm-3 img-library">
        <%= image_link image %>
      </div>
    <% end %>
  <% end %>
</div>
